{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user_profile/style.css' %}">
{% endblock %}
{% block content %}
<div class='delete-form'>
    <form method="POST" class='delete-form'>
        {% csrf_token %}
        <p>Are you sure you want to delete your account?</p>
        <div class='buttons'>
            <button type="submit" value="Confirm" class='btn btn-danger'>Delete</button>
            <a href="{% url 'update_profile' %}" class='btn btn-primary'>Go Back</a>
        </div>
    </form>
</div>
{% endblock %}