{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'user_profile/style.css' %}">
{% endblock %}
{% block content %}
<h2>My Loved Hotels</h2>
<div class='profile-page'>
    {% include 'partials/hotel_filters.html' %}
    {% if object_list %}
            <div class='profile-hotels'>
            {% for hotel in object_list%}
                {% include 'partials/hotelcards.html' with current_page='profile' %}
            {% endfor %}
            </div>
    {% else %}
        <p>Oh no! There are no hotels yet... Try clearing your filters or <a href='{% url "show_hotels" %}'>check out more hotels here.</a></p>
    {% endif %}

</div>
{% endblock %}

{% block javascript %}
<script>
    $(".like_unlike").submit(function(e) {
        e.preventDefault();
        $(this).find(".like-button").toggleClass('red');
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'like_unlike' %}",
            data: serializedData,
            error: function (response) {
                console.log(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock javascript %}