.hotels-main .hotel-card .hotel-img{
    max-height: 500px;
}

.choice{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.skip-form{
    display: inline-block;
}

.card ul{
    list-style-type: circle;
}

@media screen and (min-width: 768px){
    .hotel-card{
        width:1000px;
    } 
}