<form method="GET" class="px-4 py-3">
    <span class='filters'>Filter by:</span>
    <div class="dropdown filters">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </button>
        <div class="dropdown-menu">
                {{ cat_form }}
        </div>
    </div>
    <div class="dropdown filters">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Amenities
        </button>
        <div class="dropdown-menu">
                {{ amen_form }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary filters">Submit</button>
</form>
