
.top {
	background-image: url("background1.jpg");
}


li {
	padding-left: 10px;
}

nav a, nav ul li {
	color: white;
}


.top h2 {
	padding-top: 100px;
	color: white;
	text-align: center;
}

.feature-btn {
	color: white;
	border-color: white;
}

.btn-row{
	padding-top: 30px;
}

.btn-primary {
	margin-right: 5px;
}

.centercontainer {
	display: flex;	
	justify-content: center;	
}

.buttons {
	padding-top: 2em;
	padding-bottom: 150px;
}

.moreinfo {
	margin-top: 40px;
	font-size: .85em;
	margin-bottom: 40px;
}

.moreinfo .fas, .moreinfo .far {
	padding-bottom: 30px; 
	font-size: 4em;
	color: #0069D9;
}

.phone {
	font-size: 4em;
	color: #0069D9;
}

.moreinfo h3, .moreinfo a {
	color: #0069D9;
}

.moreinfo p {
	margin: 1.25em auto;
}

.arrow {
  border: solid #0069D9;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media only screen and (max-width: 900px) {
	.clm {
		padding-top: 40px;
	}
}