body {
	background-color: #DFE7FF;
}

h1, .compare {
	text-align: center;
}

.comparisonheading {
	display: flex;
	justify-content: space-around;
}

.comparisondetails {
	display: flex;
	justify-content: space-between;
}

.comparisondetails p {
	padding: 5px 2em;
}