*{
    font-family: 'Concert One', cursive;
}
body {
    background-color: #ffd6e0;
    margin: 0;
}
header {
    padding: 0.5px;
    margin: 0;
    background-color:#fcefb2;
    display: flex;
    justify-content: space-between;
}

.trackProgress {
    display: flex;
}

.trackProgress span {
    align-self: center;
    font-size: 2em;
}

.correct{
    align-self: center;
    padding-right: 30px;
}

.incorrect{
    align-self: center;
    padding-right: 20px;
}

.checkbox{
    font-size: 3em;
}

.checkbox.green {
    color: green;
}

.checkbox.red{
    color: red;
}

h1 {
    padding-left: 20px;
    font-weight: bolder;
    font-size: 3em;
    color: blue;
    
}

#instructions {
    text-align: center;
    font-size: 2em;
}

#imageSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 120px;
    padding: 0px 25px;
}

#numberSection{
    text-align: center;
}

.number {
    font-size: 120px;
    padding: 0px 50px;
    transition: all 0.75s;
    display: inline-block;
}

.number:hover{
    transform: scale(1.5);
    color: blue;
}

button {
    width: 190px;
    height: 80px;
    font-size: 1.7em;
    background-color: #AFF2CF;
}

#numberSection .levelup{
    display: none;
}

#imageSplit {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
}

.shakeNumber {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@media screen and (max-width: 800px){
    header {
        display: block;
        text-align: center;
    }
    .trackProgress {
        display: block;
        font-size: 0.75em;
    }

    .incorrect{
        padding: 15px;
    }

    .number{
        padding: 2px 25px;
        font-size: 110px;
    }

    img {
        width: 80px;
        padding: 10px;
    }
    
    #instructions{
        padding: auto 20px;
    }
   
}