{% extends "base.html" %}

{% block content %}
<div class='container'>
    <div class="card" style="width: 75vw;">
        <h5 class="card-header">{{ hotel.name }}</h5>
        <img class="card-img-top" src='{{ photos.0.image.url }}' alt="Card image cap">
        <div class="card-body text-center">
            <p class="card-text">{{ hotel.details }}</p>
        </div>
        <div class="card-body text-center">
            <a href="#" class="card-link">Find more details here</a>
            <a href="#" class="card-link">Another link</a>
            <br>
            <form method='POST'>
                {% csrf_token %}
                <input type='hidden' name='hotel_pk' value='{{ hotel.pk }}'>
                <button type='submit' name='like'><i class="far fa-heart"></i></button>
            </form>
            <form method='GET'><button type='submit' name='skip'><i class="fas fa-forward"></i></button></form>
            <form method='POST'>
                {% csrf_token %}
                <input type='hidden' name='hotel_pk' value='{{ hotel.pk }}'>
                <button type='submit' name='reject'><i class="fas fa-times"></i></button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}