{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'hotels/style.css' %}">
{% endblock %}
{% block content %}

<div class='hotels-main container'>
    {% include 'partials/hotel_filters.html' %}
    {% include 'partials/hotelcards.html' with current_page='home' %}
</div>
{% endblock %}

{% block javascript %}
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(addPositionToRequest);
        } 
     }

    function addPositionToRequest(position) {
        var lat_field = document.getElementById("id_lat");
        var lon_field = document.getElementById("id_lon");
        lat_field.setAttribute('value', position.coords.latitude) 
        lon_field.setAttribute('value', position.coords.longitude) 
    }
</script>
{% endblock %}