<!DOCTYPE html>
<html>
    <head>
        <title>Animal Info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        <h2>{{ animal.name }}</h2>
        <p>Number of Legs: {{ animal.legs }}</p>
        <p>Average Weight: {{ animal.weight }}kgs</p>
        <p>Average Speed {{ animal.speed }}km/hour</p>
        <p>Average Height: {{ animal.height }}</p>
        <p>Family: {{ animal.family }}</p>
    </body>
</html>