.red {
    color: red;
}

.profile-hotels{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
}

.profile-page .hotel-card{
    width: 500px;
    /* display: inline-block; */
    margin: 20px;
}

.hotel-img{
    height: 350px;
}

.hotel-unique-desc{
    height: 200px;
}