
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> 
                    {{ message }} 
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {{ form }}
        {% if form2 %}
            {{ form2 }}
        {% endif %}
    </table>
    <input type="submit">
</form>